.sidebar .sidebar-content {
  width: 100%
}

.sidebar .sidebar-content .stripes {
  width: 30px;
  height: 3px
}

.sidebar .sidebar-core p {
  font-size: 1em
}

.sidebar .sidebar-core ul li {
  padding: 5px 20px;
  border-radius: 10px
}

.sidebar .sidebar-core ul li a {
  font-size: 0.9em;
  color: #aaaaaa;
}

.sidebar .sidebar-core ul li a:hover {
  text-shadow: 0 0 5px wheat;

}

.sidebar .sidebar-core ul li.active {
  background-color: white;
}


// General
.aeo-title {
  color: #7FBCD2 !important;
  font-family: 'Lexend' !important;
}
.aeo-theme {
  color: #F175AD !important;
  font-family: 'Lexend' !important;
}

.aeo-purple {
  color: #80679e  !important;
  font-family: 'Lexend' !important;
}

 
.text-gradient{
  background:-webkit-linear-gradient(#32649e, #4c3c5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:transparent;
}

.text-gradient-blue {
  background:-webkit-linear-gradient(#3F3B74,#32649e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:transparent;
}

.rounded-20 {
  border-radius: 20px;
}


.focused {
  --shadow-color:#7fbcd2;
  filter: drop-shadow(
    1px 2px 8px var(--shadow-color)
  );
}
 
.btn {
  transition: 0.7s;
}

.btn-outline-theme{
  border: 1px solid #7fbcd2;
  color: #7fbcd2;
  transition: .2s ease;
}

.btn-outline-theme:hover{
  background-color: #7fbcd2;
  color: #FFF;
}

.btn-outline-purple{
  border: 1px solid #80679e;
  color: #80679e;
  transition: .2s ease;
}

.btn-outline-purple:hover{
  background-color: #80679e;
  color: #FFF;
}

 
 



//DASHBOARD USER 
.step-by-step-compet .card,
.step-by-step-accommodation .card{
  transition: 0.7s;
}

.step-by-step-compet .card .card-header,
.step-by-step-accommodation .card .card-header{
  background-color: #3f3b74;

}

.step-by-step-compet .card:hover ,
.step-by-step-accommodation .card:hover{
  transform: scale(1.1);
}

tbody tr:hover {
  background-color:#eee;
}

.nav-pills li {
  display: inline-block;
  min-width: 30%;
}

.green-shadow {
    box-shadow: 1px 0px 38px 0px rgba(34,107,81,0.5);
}


.mt-5{
  margin-top: 80px !important;
} 

.nav-btn {
  border-radius: 20px;
  border-color: transparent;
}

.nav-btn:hover {
  border: 2px solid white !important;
  border-radius: 20px;
  transform: none;
}



/**
* Template Name: FlexStart - v1.11.1
* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
// --------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

table tbody tr th {
  font-weight: normal; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


//   /*--------------------------------------------------------------
//   # Header
//   --------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Roboto", sans-serif;
  margin-top: 3px;
}


//   /*--------------------------------------------------------------
//   # Hero Section
//   --------------------------------------------------------------*/
.hero , .about{
  width: 100%;
  height: 100vh;
  // background-color: #F175AD;
  background-image:url('/storage/app/public/assets/Twinkle-BG.webp'),linear-gradient(#4C3C5F, #32649E);
  font-family: "Lexend";
  background-size: cover;
}

 
.hero hr {
  height: 4px;
  background-color: #F175AD;
  color: #F175AD;
}

.hero h1 {
  margin: 0;
  font-size: 64px;
  color: #012970;
  font-weight: 700;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 48px;
}

.hero .btn span{
  color: #7FBCD2 ;
  transition: 0.5s;
  font-family: 'Lexend';  
}
.hero .btn:hover span{
  color:white;
}

.hero h1 {
  background: -webkit-linear-gradient(#F175AD, #7FBCD2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero .aeo-title {
  color: #7FBCD2 !important;
  font-family: 'Lexend' !important;
}



@media (max-width: 991px) {
  .hero,.about{
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}
 
 


//   /*--------------------------------------------------------------
//   # About
//   --------------------------------------------------------------*/

.about {
  background-image: url('/storage/app/public/assets/Twinkle-BG.webp'),linear-gradient(#32649E, #80679E);
  padding: 40px;
  background-size: cover;
  
}

.about h3 {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 15px 0 30px 0;
}

.about h2 {
  font-size: 2.5em;
  font-weight: 700;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 2em;
  }
  
}

.about .pink {
  color: #F175AD;
}

.about .light-green {
  color: #7FBCD2;
}



.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  color: #fff;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
  # Why Join
  --------------------------------------------------------------*/

#why-join {
  padding: 5rem 0;
  background-image:url('/storage/app/public/assets/Twinkle-BG.webp'),linear-gradient(#80679E, #32649E);
  background-size: cover;
 
}

#why-join .text-light {
  color: #ffff !important;
}

#why-join h1 {
  background: linear-gradient(#7FBCD2,70%,#ff99c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #4154f1;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Competition Fields
--------------------------------------------------------------*/

#competition-fields {
  font-family: 'Roboto', sans-serif !important;
}

#competition-fields h3 {
  background: linear-gradient(#3F3B74, #32649E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#competition-fields p {
 color: #32649E;
 font-size:1.5em;

}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
#home .owl-nav{
  display: flex;
  align-items: center;
  
}
#home button.owl-next,
#home button.owl-prev{
  display: flex;
  position: absolute;
  border: 2px solid #F175AD !important; 
  border-radius: 50% !important;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}
#home button.owl-next:hover span{
  font-size: 15px;
}
#home button.owl-prev:hover span{
  font-size: 15px;
}
 

#home button.owl-next span,
#home button.owl-prev span{
  transition: 0.5s;
  font-size:12px;
  margin: 0;
  padding: 0;
  color: #32649E;
}

#home button.owl-next{
  right:0px;
}
#home button.owl-prev{
  left:0px;
}


.owl-dots {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom:-30px;
  padding: 0;
}

#home .owl-dots button.owl-dot.active span, 
#home .owl-dots button.owl-dot:hover span {
  background-color: #32649E   ;
  border-radius: 50%;
  height: 130%;
  width: 130%;
  position: absolute;
  left: -1px;
  top: -2px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#home .owl-dots button.owl-dot{
  border: 1px solid #7FBCD2;
  background: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: relative;
  margin-left: 0.7em;
  padding: 0;
  box-sizing: border-box;
}

/* display 3 */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
 


/*--------------------------------------------------------------
#  How to Register Section
--------------------------------------------------------------*/
#howToRegister h1 {
  background: linear-gradient(#3F3B74, #32649E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*--------------------------------------------------------------
#  Media Partner Section
--------------------------------------------------------------*/

#media-partners {
  padding: 2rem 0 7rem 0;
}

#media-partners h1 {
  background: linear-gradient(#3F3B74, #32649E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


//   /*--------------------------------------------------------------
//   # Contact
//   --------------------------------------------------------------*/

#contact-us {
  padding: 5rem 0 10rem 0;
}

.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


//   /*--------------------------------------------------------------
//   # Footer
//   --------------------------------------------------------------*/
.footer {
  background: rgba(127, 188, 210,0.1);
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-top {
  background: white url(../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Roboto", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  background: linear-gradient(#3F3B74, #32649E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .credits {
  text-align: center;
  font-size: 13px;
  color: #3f3b74;
}


//   /*--------------------------------------------------------------
//   # ABOUT US PAGE
//   --------------------------------------------------------------*/


#theme .card, section#greetings .row{
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  
}

/* Timeline */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #F175AD;
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-wrapper {
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-right: 90px;
}

.timeline .timeline-wrapper:before {
  content: " ";
  display: table;
}

.timeline .timeline-wrapper:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline .timeline-wrapper .timeline-panel{
  margin-left: 15%;
  padding: 20px;
  position: relative;
  background: #ffffff;
  box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
  width: 35%;
}
.timeline-top {
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 25%;
  padding-right: 90px;
  padding: 20px;
  position: relative;
  background: #ffffff;
  box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
  
}

.timeline .timeline-wrapper .timeline-panel:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  left: 0;
  right: 0;
}

.timeline .timeline-wrapper .timeline-panel:after {
  position: absolute;
  top: 10px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffffff;
  border-right: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline .timeline-wrapper .timeline-panel .timeline-title {
  margin-top: 0;
  color: #001737;
  text-transform: uppercase;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body p + p {
  margin-top: 5px;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body ul {
  margin-bottom: 0;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer span {
  font-size: .6875rem;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer i {
  font-size: 1.5rem;
}

.timeline .timeline-wrapper .timeline-badge {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: calc(50% - 7px);
  z-index: 10;
  transform:rotate(45deg);

}

.timeline .timeline-wrapper .timeline-badge i {
  color: #ffffff;
}

.timeline .timeline-wrapper.timeline-inverted {
  padding-right: 0;
  padding-left: 90px;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
  margin-left: auto;
  margin-right: 15%;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

@media (max-width: 767px) {

  .timeline-top {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    padding-right: 90px;
    
    
    padding: 20px;
    position: relative;
    background: #ffffff;
    box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
    
  }



  .timeline .timeline-wrapper {
    padding-right: 150px;
  }
  .timeline .timeline-wrapper.timeline-inverted{
    padding-left: 220px;
  }

  .timeline .timeline-wrapper .timeline-panel {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .timeline .timeline-wrapper .timeline-panel {
    width: 68%;
  }
}


.timeline-wrapper-primary .timeline-badge {
   background-image: linear-gradient(#32649e, #343b74);
}

.about {
  padding-bottom: 5rem;
  padding-top: auto;
}


@media (max-width: 1208px) {
  .about {
    height: auto;
    padding: 100px 0 60px 0;
  }
}


@media (max-width: 970px) {
  .about {
    height: auto;
    padding: 90px 0 60px 0;
  }

  .about .about-img {
    text-align: start;
    margin-top: 80px;
  }


}

@media (max-width: 768px) {
  .about {
    text-align: start;
  }

  .about h1 {
    font-size: 32px;
  }

  .about h2 {
    font-size: 24px;
  }

  .abouthero .about-img img {
    width: 100%;
  }
}

//   /*--------------------------------------------------------------
//   # AMBASSADOR PAGE
//   --------------------------------------------------------------*/


.wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.wrapper .card{
	position: relative;
	width: 350px;
	color: #4B5355;
	margin: 20px 10px;
	padding: 20px 20px;
	border-radius: 3px;
}
.wrapper .card-body p{
	color: #4B5355;
	padding: 0 8px;
	font-size: 16px;
	opacity: 0.8;
    text-align: justify  !important;
}
.wrapper .card .left{
	font-size: 30px;
	display: block;
	text-align: left;
	color: rgba(39, 93, 163, 0.65);	
}

.wrapper .profile{
	min-height: 100px;
	max-height: 100px;
	display: flex;
	align-items: center;
	margin-left: 5%;
}
.wrapper img{
    border-radius: 50%;
    height:70px;
	width: 70px;
    object-fit: cover;
}
.wrapper .right{
	margin-left: 5%;
}
.wrapper .right .name{
	color: #000010;
	font-size: 20px;
	font-weight: 900;
    text-align: left  !important;
}

.wrapper .right .institution{
	color: #4b5355;
	font-size: 16px;
    text-align: left  !important;
}

